* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}
.fbox,
.fcbox {
  display: flex;
  justify-content: space-between;
}
.fcbox {
  flex-direction: column;
}
html {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 20px;
  color: wheat;
}
p {
  font-size: 20px;
  color: black;
}
.head {
  width: 100%;
  background-color: #24253d;
}
.dh_head {
  width: 1680px;
  margin: 0 auto;
  background-color: #24253d;
}
.topbar {
  height: 60px;
  width: auto;
  margin: 0 10px;
  background-color: #24253d;
  line-height: 60px;
}
a:hover {
  color: white;
}
.hid {
  position: relative;
}
.hid:hover .vis {
  display: block;
}
#but {
  width: 150px;
}
#but a {
  margin-left: 30px ;
}
#but a:hover {
  color: orange;
}
#but:hover {
  background-color: whitesmoke;
  color: black;
}
.vis {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: absolute;
  top: 60px;
  left: -30px;
  display: none;
}
.vis span {
  font-size: 15px;
  color: black;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 5px;
}
#vis {
  width: 300px;
  height: 100px;
  left: -150px;
}
.t2bar {
  width: 1680px;
  margin: 0 auto;
  margin-top: 20px;
}
.ss a {
  display: block;
  width: 52px;
  height: 52px;
  font-size: 40px;
  background-color: #969393;
  margin-right: 20px;
}
.ss a:hover {
  background-color: orange;
}
.dhtop2 {
  width: auto;
  margin-top: 15px;
}
.dhtop2:nth-child(2) {
  margin-left: 230px;
}
.bdr {
  display: none;
  position: absolute;
  top: 250px;
  left: 10px;
  width: 100%;
  height: 0;
  border-top: 1px solid #969393;
  border-bottom: 1px solid #969393;
  overflow: hidden;
  transition: height 0.5s;
}
.tc {
  width: 1680px;
  margin: 0 auto;
}
.tc .ph {
  position: relative;
  margin-top: 30px;
}
.tc .ph span {
  font-size: 15px;
  color: black;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  background-color: white;
  border: none;
  position: absolute;
  top: 180px;
  left: 40px;
}
.tc span {
  display: block;
  width: 1px;
  height: 100px;
  background-color: #969393;
  border: 1px solid gray;
  margin-top: 30px;
}
.t2bar:hover .bdr {
  height: 240px;
}
.main {
  width: 1680px;
  margin: 20px auto;
  height: 600px;
}
.main .right {
  width: 1480px;
  height: 600px;
}
.main .right i {
  position: absolute;
  top: 50%;
  font-size: 100px;
  color: black;
}
.main .right .point li {
  position: absolute;
  top: 700px;
  left: 1500px;
  list-style: aqure;
  color: black;
  font-size: 100px;
  text-decoration: black;
  z-index: 101;
}
.main .left {
  height: 500px;
  width: 200px;
  background-color: #969393;
}
.main .left div {
  width: 200px;
  background-color: #969393;
  line-height: 60px;
}
.main .left div a {
  margin-left: 25px;
  color: white;
}
.main .left div:hover {
  background-color: orange;
}
#jg {
  margin-top: 50px;
}
.guding {
  width: 80px;
  position: fixed;
  bottom: 370px;
  right: 0;
}
.guding i {
  font-size: 50px;
  margin-top: 20px;
}
.mbanner {
  width: 1680px;
  margin: 0 auto;
}
.mbanner div {
  width: 418px;
  height: 300px;
  background: #969393;
  flex-wrap: wrap;
}
.mbanner div.am {
  width: 136px;
  height: 147px;
  background: #c657ff;
  border: 1px solid lightblue;
  border-radius: 12px;
}
/*# sourceMappingURL=mi.css.map */